:root {
  --color-primary: #000;
  --color-secondary: #e2e2e2;

  --font-primary: "Alegreya Sans", "Trebuchet MS", Arial, sans-serif;
  --font-secondary: "Source Sans Pro", Menlo, Consolas, monospace;
}

html {
  font-family: var(--font-primary);
}
