.btn {
  background-color: var(--color-primary-light);
  border-radius: 0;
  border-color: none;
  border: none;
}

.btn a {
  color: var(--color-primary-blue);
  text-decoration: none;
}

.btn:hover {
  background-color: var(--color-accent-orange-light);
}

.btn a:hover {
  color: var(--color-primary-light);
}
