textarea {
  border: none;
  border-radius: 5px;
}

input {
  border: none;
  border-radius: 5px;
}

.white-text {
  color: var(--color-primary-light);w
}

.blue {
  background-color: var(--color-primary-blue);
}

.ltblue-text {
  color: var(--color-accent-yellow-light);
}

.comment-text {
  font-family: var(--font-primary);
  font-weight: normal;
}

@media only screen and (min-width: 38em) {

  .space-r {
    margin-right: 2em;
  }

}
